<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyre.lca.dao.mapper.MaunfacturerMapper">
  <resultMap id="BaseResultMap" type="com.tyre.lca.domain.Maunfacturer">
    <id column="firm_id" jdbcType="INTEGER" property="firmId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="firm_name" jdbcType="VARCHAR" property="firmName" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="founding_time" jdbcType="TIMESTAMP" property="foundingTime" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
  </resultMap>

  <insert id="insert" parameterType="com.tyre.lca.domain.Maunfacturer">
    insert into maunfacturer (firm_id, username, password, 
      firm_name, product, address, 
      phone, department, email, 
      founding_time, register_time, update_time,
      `desc`, grade)
    values (#{firmId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{firmName,jdbcType=VARCHAR}, #{product,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{foundingTime,jdbcType=TIMESTAMP}, #{registerTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{desc,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}) ON  DUPLICATE KEY UPDATE password = #{password,jdbcType=VARCHAR},
      firm_name = #{firmName,jdbcType=VARCHAR},
      product = #{product,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      founding_time = #{foundingTime,jdbcType=TIMESTAMP},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      `desc` = #{desc,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER}
  </insert>

  <select id="countByExample" parameterType="com.tyre.lca.domain.MaunfacturerExample" resultType="java.lang.Integer">
    select count(*) from maunfacturer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExample" parameterType="map">
    update maunfacturer
    set firm_id = #{record.firmId,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      firm_name = #{record.firmName,jdbcType=VARCHAR},
      product = #{record.product,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      department = #{record.department,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      founding_time = #{record.foundingTime,jdbcType=TIMESTAMP},
      register_time = #{record.registerTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      desc = #{record.desc,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKey" parameterType="com.tyre.lca.domain.Maunfacturer">
    update maunfacturer
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      firm_name = #{firmName,jdbcType=VARCHAR},
      product = #{product,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      founding_time = #{foundingTime,jdbcType=TIMESTAMP},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      desc = #{desc,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER}
    where firm_id = #{firmId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.tyre.lca.domain.Maunfacturer">
    <id column="supply_id" jdbcType="INTEGER" property="supplyId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <select id="selectUser" parameterType="String" resultMap="BaseResultMap">
    SELECT * FROM maunfacturer WHERE username = #{username}
  </select>

</mapper>